<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(book.errors.count, 'error') + ' ' + t('.error') %>:</h2>

    <ul>
      <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field uk-margin">
    <%= form.label :title, class: 'uk-form-label' %>
    <%= form.text_field :title, class: 'uk-input' %>
  </div>

  <div class="field uk-margin">
    <%= form.label :memo, class: 'uk-form-label' %>
    <%= form.text_area :memo, class: 'uk-input' %>
  </div>

  <div class="field uk-margin">
    <%= form.label :author, class: 'uk-form-label' %>
    <%= form.text_field :author, class: 'uk-input' %>
  </div>

  <div class="field uk-margin" uk-form-custom="target: true">
    <%= form.label :picture, class: 'uk-form-label' %>
    <%= form.file_field :picture %>
    <input class="uk-input uk-form-width-medium" type="text" placeholder=<%= t('form.file') %> disabled>
  </div>

  <div class="actions">
    <%= form.submit class: 'uk-button uk-button-primary' %>
  </div>
<% end %>
