<table class="uk-table uk-table-striped">
  <tbody>
    <tr>
      <td><%= Book.human_attribute_name(:title) %></td>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <td><%= Book.human_attribute_name(:memo) %></td>
      <td><%= @book.memo %></td>
    </tr>
    <tr>
      <td><%= Book.human_attribute_name(:author) %></td>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <td><%= Book.human_attribute_name(:picture) %></td>
      <td><%= image_tag(@book.picture_url) if @book.picture.present? %></td>
    </tr>
  </tbody>
</table>

<%= render 'shared/comments', commentable: @book %>
<%= render 'shared/comment_form', commentable: @book %>

<%= link_to t('.edit'), edit_book_path(@book), class: 'uk-button uk-button-default uk-margin-right' %>
<%= link_to t('.back'), books_path, class: 'uk-button uk-button-default' %>
