<table class="uk-table uk-table-striped report-table">
  <tbody>
    <tr>
      <td><%= Report.human_attribute_name(:published_on) %></td>
      <td class="report-published_on"><%= @report.published_on %></td>
    </tr>
    <tr>
      <td><%= Report.human_attribute_name(:title) %></td>
      <td class="report-title"><%= @report.title %></td>
    </tr>
    <tr>
      <td><%= Report.human_attribute_name(:body) %></td>
      <td class="report-body"><%= @report.body %></td>
    </tr>
    <tr>
      <td><%= Report.human_attribute_name(:user) %></td>
      <td class="report-created_by"><%= @report.user.name %></td>
    </tr>
  </tbody>
</table>

<%= render 'shared/comments', commentable: @report %>
<%= render 'shared/comment_form', commentable: @report %>

<% if current_user == @report.user %>
  <%= link_to t('.edit'), edit_report_path(@report), class: 'uk-button uk-button-default uk-margin-right' %>
<% end %>
<%= link_to t('.back'), reports_path, class: 'uk-button uk-button-default' %>
